.hero-section{

    background-image: url(../images/bg-3.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-link{

    color:#fff;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;

}

.nav-link:hover{

    color: #DA1C4B;
}

.btn-action{

padding: 0;

padding: 10px 36px;

background: #DA1C4B;

color: #fff;

border-radius: 50px;

/* margin-left: 10px; */

font-size: 14px;

margin: 10px 20px;
}

.btn-action:hover{

    background-color: #77273b;

}

.hero-section{


}

.hero-section h3{

color: #fff;

font-size: 36px;

font-weight: 500;

text-align: center;

margin-bottom: 30px;
}

.hero-section span{

display: block;

height: 3px;

width: 50px;

background: #da1c4b;

margin: auto;
}
.hero-section h1{

text-align: center;

color: #fff;

font-size: 90px;

font-weight: 700;

margin-bottom: 30px 0px;

margin: 30px 0px;
}

.btn-learn{

padding: 0;

padding: 12px 40px;

background: #da1c4b;

border-radius: 30px;

color: #fff;

/* margin: auto; */

/* text-align: center; */

font-size: 16px;

margin-top: 30px;
}

.height{

    min-height: 90vh;
    align-items: center;
}



font-s.hero-section{

    background-image: url(../images/bg-3.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-link{

    color:#fff;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;

}

.nav-link:hover{

    color: #DA1C4B;
}

.btn-action{

padding: 0;

padding: 10px 36px;

background: #DA1C4B;

color: #fff;

border-radius: 50px;

/* margin-left: 10px; */

font-size: 14px;

margin: 10px 20px;
}

.btn-action:hover{

    background-color: #77273b;

}

.hero-section{


}

.hero-section h3{

color: #fff;

font-size: 36px;

font-weight: 500;

text-align: center;

margin-bottom: 30px;
}

.hero-section span{

display: block;

height: 3px;

width: 50px;

background: #da1c4b;

margin: auto;
}
.hero-section h1{

text-align: center;

color: #fff;

font-size: 90px;

font-weight: 700;

margin-bottom: 30px 0px;

margin: 30px 0px;
}

.btn-learn{

padding: 0;

padding: 12px 40px;

background: #da1c4b;

border-radius: 30px;

color: #fff;

/* margin: auto; */

/* text-align: center; */

font-size: 16px;

margin-top: 30px;
}

.height{

    min-height: 90vh;
    align-items: center;
}

.quotation{

background: #F5F5F5;

text-align: center;

padding: 40px 0;
}

.quotation h2{

font-size: 20.5px;

color: #404040;
}

.quotation p{

color: #404040;

font-size: 16px;

margin-top: 15px;
}

.event{


}

.event h3{

    
}

.event p{

    
}

..hero-section{

    background-image: url(../images/bg-3.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-link{

    color:#fff;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;

}

.nav-link:hover{

    color: #DA1C4B;
}

.btn-action{

padding: 0;

padding: 10px 36px;

background: #DA1C4B;

color: #fff;

border-radius: 50px;

/* margin-left: 10px; */

font-size: 14px;

margin: 10px 20px;
}

.btn-action:hover{

    background-color: #77273b;

}

.hero-section{


}

.hero-section h3{

color: #fff;

font-size: 36px;

font-weight: 500;

text-align: center;

margin-bottom: 30px;
}

.hero-section span{

display: block;

height: 3px;

width: 50px;

background: #da1c4b;

margin: auto;
}
.hero-section h1{

text-align: center;

color: #fff;

font-size: 90px;

font-weight: 700;

margin-bottom: 30px 0px;

margin: 30px 0px;
}

.btn-learn{

padding: 0;

padding: 12px 40px;

background: #da1c4b;

border-radius: 30px;

color: #fff;

/* margin: auto; */

/* text-align: center; */

font-size: 16px;

margin-top: 30px;
}

.height{

    min-height: 90vh;
    align-items: center;
}



font-s.hero-section{

    background-image: url(../images/bg-3.jpg);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-link{

    color:#594e50;
    font-size: 18px;
    font-weight: 900;
    margin-top: 10px;

}

.nav-link:hover{

    color: #DA1C4B;
}

.btn-action{

padding: 0;

padding: 10px 36px;

background: #DA1C4B;

color: #fff;

border-radius: 50px;

/* margin-left: 10px; */

font-size: 14px;

margin: 10px 20px;
}

.btn-action:hover{

    background-color: #77273b;

}

.hero-section{


}

.hero-section h3{

color: #fff;

font-size: 36px;

font-weight: 500;

text-align: center;

margin-bottom: 30px;
}

.hero-section span{

display: block;

height: 3px;

width: 50px;

background: #fb2056;

margin: auto;
}
.hero-section h1{

text-align: center;

color: #fff;

font-size: 90px;

font-weight: 700;

margin-bottom: 30px 0px;

margin: 30px 0px;
}

.btn-learn{

padding: 0;

padding: 12px 40px;

background: #fb2056;

border-radius: 30px;

color: #fff;

/* margin: auto; */

/* text-align: center; */

font-size: 16px;

margin-top: 30px;
}

.height{

    min-height: 90vh;
    align-items: center;
}

.quotation{

background: #F5F5F5;

text-align: center;

padding: 40px 0;
}

.quotation h2{

font-size: 20.5px;

color: #404040;
}

.quotation p{

color: #404040;

font-size: 16px;

margin-top: 15px;
}

.event{

padding: 40px 0;

text-align: center;

background: #F5F5F5;
}

.event span {

background: #fb2056;{}
;

display: block;

width: 70px;

height: 3px;

margin: auto;

margin-bottom: 70px;
}    


.event h1{

font-size: 40px;

margin-bottom: 50px;

color: #191919;
}

.event h3{

margin-top: 20px;
}

.event p{

    
}

.btn-learn-more{

padding: 0;

padding: 12px 45px;

background: #FB2056;

border-radius: 30px;

color: #fff;

font-size: 14px;
}

.event i{

color: #fff;

margin: 3px 5px;

text-align: center;

padding: 5px 2px;
}

.explore{background-image: url(../images/explore.jpg);background-position: center;background-size: cover;background-repeat: no-repeat;padding: 100px 0;background-attachment: fixed;}

.explore h2{

color: #fff;

font-size: 50px;

margin-bottom: 30px;
}

.explore span{

display: block;

height: 3px;

width: 70px;

background: #fb2056;

margin-bottom: 30px;
}

.explore p{

color: #fff;

margin-bottom: 30px;

font-size: 16px;
}
.explore i{

    color: #fff;

    margin: 3px 5px;
    
    text-align: center;
    
    padding: 5px 2px
}

.tour{

padding: 80px 0;
}

.tour h2{

font-size: 50px;

margin-bottom: 20px;
}

.tour p{

font-size: 17px;

margin-bottom: 30px;
}

.tour span{

display: block;

height: 3px;

width: 70px;

background: #fb2056;

margin-bottom: 30px;
}

footer{

background: #191919;

padding: 50px 0;

text-align: center;

margin-top: 30px;

color: #fff;
}

footer h6{

font-size: 18px;

margin-bottom: 30px;
}

footer h5{

font-size: 20px;
}








